
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
    /* background-color:black; */
    font-family: 'Bebas Neue', cursive;
font-family: 'Signika Negative', sans-serif;
}

.heading-container {
  background-color: #068da9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.news-heading {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.category{
    text-align: center;
    letter-spacing: 3px;
    margin: 16px 0px;
    text-shadow: 2px 2px 3px #000000;
}
.news-heading span{
    color: white;
    background-color: #CD1818;
    /* font-weight:100; */
    padding: 10px;
    letter-spacing: 2px;
    border-radius: 10px;
}
a {
  text-decoration: none;
  color: white;
}

.topics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;

}
.topics span{
    background-color:#FF6969;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1.5px;
}
i:hover{
    cursor: pointer;
}
.fa-solid{
    color: red;
}
i{
    color: black;
}
.main-container{
    display: flex;
     justify-content: center;
    width: 100vw; 
    margin: 0px auto;
   
} 
.add-news{
   margin-top: 20px;
}
img {
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
  }
  .news-container{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    
    height: 400px;
    margin: 10px 20px ;
    gap: 10px;
    /* margin:5px; */
}
.news-detail{
    display: flex;
    justify-content: space-between;
}
.news-detail h6{
    padding-right: 10px;
}
/* .active{
    background-color:aliceblue;
} */
@media only screen and (max-width:1000px){
    .news-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:500px){
    .news-container{
        grid-template-columns: repeat(1,1fr);
    }
    .news-heading{
        flex-direction: column;
        
    }
    .news-heading span{
        margin: 10px;
    }

}
