@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
  font-family: "Signika Negative", sans-serif;
}
.news_feed-main {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 3px #cd1818;
}
body {
  font-family: "Bebas Neue", cursive;
  font-family: "Signika Negative", sans-serif;
}
.news_feed-heading_Section {
  background-color: #068da9;
  padding: 1rem;
}
.news_feed-heading {
  text-align: center;
  padding: 1rem 0;
}
.news_feed-heading h2 {
  text-shadow: 2px 2px 3px #000000;
}
.news-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: white;
  /* background-color: #da6464; */

  /* align-items: center; */
  text-align: center;
  /* border-radius: 10%; */
}
.news-heading h2 {
  margin: 30px 0px;
}
.news-heading {
  padding-bottom: 16px;
}
.news-heading span {
  background-color: red;
  /* margin: 20px 0px; */
  border-radius: 0.1rem;
  /* margin-bottom: 30px; */
  font-weight: 400;
  padding: 0.4rem 0.8rem;
}
.news-heading_button {
  padding: 0.5rem;
  cursor: pointer;
}
.news-heading_button a {
  text-decoration: none;
}
.data {
  height: 100%;
  /* border: 2px solid red; */
  /* .data { */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem;
  margin: 2rem;
  /* margin-bottom: 1rem; */
}
img {
  max-width: 100%;
  height: 70%;
  /* height: 100%; */
  border-radius: 5px;
}
.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 10px 0;
  margin-bottom: 5rem;
  width: 100%;
}
i:hover {
  cursor: pointer;
}
.fa-solid {
  color: red;
}
i {
  color: black;
}
.news-detail {
  display: flex;
  justify-content: space-between;
}

.data {
  max-width: 100%;
}
.saveNews {
  min-height: 100vh;
}

/* FOOTER CSS***************************************************** */
.textContent a {
  color: #068da9;
  text-decoration: none;
}
.news_feed-footer {
  background-color: black;
  color: white;
}
.news_feed-footer_top {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-between;
}
.news_feed-footer_top p {
  cursor: pointer;
}
.news_feed-footer_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
.news_feed-footer_icons i {
  color: white;
  font-size: 2rem;
}
.news_feed-footer_icons i:nth-of-type(1) {
  color: rgb(228, 76, 102);
  /* background-color: red; */
}
.news_feed-footer_icons i:nth-of-type(2) {
  color: blue;
}
.news_feed-footer_icons i:nth-of-type(3) {
  color: skyblue;
}
.news_feed-footer_icons i:nth-of-type(4) {
  color: red;
}
.news_feed-footer_copyright {
  text-align: center;
  padding: 1rem;
}
.searchItem {
  /* text-align: center; */
  margin: 1rem;
}
.searchItem input {
  width: 40%;
  padding: 1rem;
}
a {
  text-decoration: none;
}
