
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Signika+Negative:wght@300;400&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#FFEBEB;
    font-family: 'Bebas Neue', cursive;
font-family: 'Signika Negative', sans-serif;
}

 .main-container{
    display: flex;
     /* height: 100vh; */
     justify-content: center;
    width: 100vw; 
    margin: 0px auto;
   
} 
.top{
    
    text-align: center;
    color: red;
    font-size: 20px;
    background-color: aqua;
}
.container{
    width: 100vw;
    margin:  0px auto;
    display: grid;
    /* display: ; */
    
}
.top{
    height: 200px;
}
.icon{
    height: 50px;
}
.news-feed{
    background-color:#FF6969;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
}
.news-feed h2 {
   align-content: center;
   text-align: center;
}

.head {
background-color: white;
border-radius: 5px;
padding: 10px;

}
.news{
    display: flex;
    /* margin-bottom: 20px; */
}
.news a{
    text-decoration: none;
    color: black;
}
.news span{
    border-radius: 5px;
    padding: 10px 10px;
    align-items: center;
    margin:40px auto 0px auto;
    background-color:#A5C0DD;
}
.updated{
    text-align: center;
    line-height: 3;
    height: 300px;
}
.decorate{
    color: white;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
/* .update h2{
    margin: 20px 20px;
} */
.news-heading{
    background-color: #394867;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    
    
}
 .span1{
background-color: white;
color: black;
border-radius: 5px;
margin: 0px 5px;
}
.span2{
    background-color: #27E1C1;
    color: black;
    border-radius: 5px;
    line-height: .90;
}

.saved-news .data{
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFF2CC;
}
.new-news .data{
    
    margin-top: 20px;
    border-radius: 20px;
    padding: 10px;
    background-color: #FFF2CC;

}
.topics span{
    background-color: #27E1C1;
    border-radius: 5px;
    /* margin: auto auto ; */
    /* margin: 0px auto; */

}
.topics{
    /* align-items: center; */
    margin-top: 5px;
    display: flex;
    /* align-content: center; */
    justify-content: space-around;
    padding-bottom: 6px;
}
.topics p{
    background-color:darkgoldenrod;
    display: block;
    font-size: 20px;
    color: black;
    text-align: center;
    border-radius: 5px;
    margin: 8px;
}
.topics span:hover{
    cursor: pointer;
}
.saved-news,.new-news{
    margin-bottom: 120px;
}
.heading-container{
    background-color: black;
    border-radius: 10px;
}
.news-detail{
    display: flex;
    justify-content: space-between;
}
i{
    color: black;
}
button{
    background-color: aquamarine;
    /* border: none; */
}
i:hover{
    cursor: pointer;
}
.fa-solid{
    color: red;
}
.selected{
    background-color: lightblue;
}
.image{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
.news-container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    height: 400px;
    gap: 10px;
    /* margin:5px; */
}
#add-news{
    margin-left: 20px;
    margin-right: 20px;
}
.category{
    /* background-color: rgb(203, 31, 192); */
    /* align-items: center; */
    text-align: center;
    /* display: inline-block; */
}
.category span{
    /* padding: 5px; */
   background-color: white;
   border-radius: 5px;
}